/* css 시작 시 :root 안에 사용할 글자색(color), 여백(size), 글자크기(font size)들을 변수로 지정하고 var(--변수명) 형태로 아래에서 사용 */
:root {
	/* Color */
	--white-color: #fff;
	--black-color: #140a00;
	--blue-color: #045fd4;
	--red-color: #ff0000;
	--grey-dark-color: #909090;
	--grey-light-color: #e0e0e0;

	/* Size */
	--padding: 12px;
	--avatar-size: 36px;
	--icon-size: 16px;

	/* Font Size */
	--font-large: 18px;
	--font-medium: 14px;
	--font-small: 12px;
	--font-micro: 10px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto',
	sans-serif;
}

ul {
	list-style: none;
}

/* focus는 클릭한 순간, active는 이미 클릭된 상태 */
button,
button:focus {
	border: none;
	outline: none;
	background: none;
	cursor: pointer;
}

/* header */
header {
	display: flex;
	justify-content: space-between;
	padding: var(--padding);
	background-color: var(--black-color);
	color: var(--white-color);
}

header .logo {
	font-size: var(--font-large);
	cursor: pointer;
}

header .logo i {
	color: var(--red-color);
}

header .icons {
	cursor: pointer;
}

header .icons .fa-search {
	margin-right: var(--padding);
}

/* 반응형 - 2단 */
.two-columns {
	display: flex;
	flex-direction: column;
}

/* video player */
.player {
	/* position: sticky => top: 0과 같이 써야 함 (어디에 붙어있어야 하는지 알려줌) */
	position: sticky;
	top: 0;

	/* text-align: text가 아닌 요소도 가운데정렬 가능 */
	text-align: center;

	background-color: var(--black-color);
}

.player video {
	/* 반응형 만들 때 % 쓰면 좋음 - 100%: 화면 전체에 꽉 채워서 보여줌 */
	width: 100%;
	/* 최대 너비 지정 - 어느 크기 이상으로는 더 커지지 않게 */
	max-width: 750px;
}

/* video info */
body > .info {
	padding: var(--padding);
}

.info .metadata .hashtags {
	display: flex;
	font-size: var(--font-small);
	color: var(--blue-color);
}

.info .metadata .hashtags li {
	margin-right: var(--padding);
}

.info .metadata .titleAndButton {
	display: flex;
}

.info .metadata .titleAndButton .title {
	font-size: var(--font-medium);
	margin-right: var(--padding);
}

/* JS에 의해 title에 'clamp' 클래스가 있을 때만 적용 (평소에는 clamp가 적용되어 2줄까지만 보이다가 화살표 버튼을 누르면 clamp 내용들이 제거되어 전체 텍스트가 다 보임) */
.info .metadata .titleAndButton .title.clamp {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}

.info .metadata .titleAndButton .moreBtn {
	height: 100%;
	/* moreBtn에 적용된 속성이 변화할 때 애니메이션 추가 - transform이 부드럽게 적용됨 */
	transition: transform 300ms ease-in-out;
}


.info .metadata .titleAndButton .moreBtn.clicked {
	transform: rotate(180deg); /* 화살표 버튼 누르면 뱅글 돌면서 위를 향함 */
}

.info .views {
	font-size: var(--font-small);
	color: var(--grey-dark-color);
}

/* Action buttons */
.info .actions {
	display: flex;
	justify-content: space-around;
	margin: var(--padding) 0;
}

.info .actions button {
	display: flex;
	flex-direction: column;
	font-size: var(--font-small);
	color: var(--grey-dark-color);
}

.info .actions button i {
	/* 더 넓은 범위인 margin을 먼저 쓰고 */
	margin: 0 auto;
	/* 더 좁은 범위인 margin-bottom이 오버라이딩 (덮어씀) */
	margin-bottom: calc(var(--padding) / 2);
	font-size: var(--icon-size);
}

.info .actions button i.active {
	color: var(--blue-color); /* 아이콘이 눌러졌을 때 자바스크립트로 active 클래스 부여 */
}

/* Channel Description */
.info .channel {
	display: flex;
	justify-content: space-between;
	border-top: 1px solid var(--grey-light-color);
	border-bottom: 1px solid var(--grey-light-color);
}

.info .channel .metadata {
	display: flex;
	align-items: center;
}

.info .channel .metadata img {
	width: var(--avatar-size);
	height: var(--avatar-size);
	margin: var(--padding);
	border-radius: 50%;
}

.info .channel .metadata .info {
	display: flex;
	flex-direction: column;
}

.info .channel .metadata .info .name {
	font-size: var(--font-medium);
}

.info .channel .metadata .info .subscribers {
	font-size: var(--font-small);
	color: var(--grey-dark-color);
}

.info .channel .subscribe {
	/* uppercase: 모두 대문자, lowercase: 모두 소문자, capitalize: 앞에만 대문자 */
	text-transform: uppercase;
	color: var(--red-color);
	font-size: var(--font-medium);
	font-weight: 600;
	letter-spacing: -0.08;
}

/* up next */
.upNext {
	padding: var(--padding) var(--padding);
}

.upNext > .title { 
	/* title이 밑에 여러 개여서 바로 아래 것만 잡아야 함 */
	font-size: var(--font-medium);
	color: var(--grey-dark-color);
	/* upNext의 title이 span이어서 margin은 안 먹음 */
}

.upNext .item {
	display: flex;
	margin-top: var(--padding);
}

.upNext .item .img {	
	/* 줄어들든 늘어나든 grow, shrink(원래 비율)는 각각 1, 1로 고정, base(기본 크기)는 전체 너비의 35%로 고정 */
	flex: 1 1 35%;
	margin-right: var(--padding);
}

.upNext .item .img img {
	/* 이미지의 경우 바깥 div에다가 width: 100% 해줘야 바깥 div의 flex가 먹음 */
	width: 100%;
}

.upNext .item .info {
	/* grow, shrink는 각각 1, 1로 고정, base는 전체 너비의 60%로 고정 */
	flex: 1 1 60%;
}

.upNext .item .moreBtn {	
	/* grow, shrink는 각각 1, 1로 고정, base는 전체 너비의 5%로 고정 */
	flex: 1 1 5%;
}

.upNext .item .info {
	display: flex;
	flex-direction: column;
}

.upNext .item .info .title {
	font-size: var(--font-small);
}

.upNext .item .info .name,
.upNext .item .info .views {
	font-size: var(--font-micro);
	color: var(--grey-dark-color);
}

.two-columns {
	display: flex;
	flex-direction: column;
}

/* 반응형: 화면이 992px 이상일 때 */
@media screen and (min-width: 992px) {
	.two-columns {
		flex-direction: row;
	}

	.playerAndInfo {
		flex: 1;
	}

	.upNext {
		flex: 1;
		margin-left: var(--padding);
	}
}